.footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C9DAB0;
    color: #131212;
    border-top: 2px solid #C9DAB0;
    padding-block: 0.5rem;
}

.footer h2 {
    font-size: 1rem;
    font-weight: 500;
}